@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

:root {
  color-scheme: light;

  &.dark {
    color-scheme: dark;
  }
}

@layer base {
  :root {
    --base-1: 0 0% 98.82352941176471%;
    --base-2: 0 0% 97.6470588235294%;
    --base-3: 0 0% 94.11764705882352%;
    --base-4: 0 0% 90.98039215686275%;
    --base-5: 0 0% 87.84313725490196%;
    --base-6: 0 0% 85.09803921568627%;
    --base-7: 0 0% 80.7843137254902%;
    --base-8: 0 0% 73.33333333333333%;
    --base-9: 0 0% 55.294117647058826%;
    --base-10: 0 0% 51.37254901960784%;
    --base-11: 0 0% 39.21568627450981%;
    --base-12: 0 0% 12.549019607843137%;
    --accent-1: 340 100% 99.41176470588235%;
    --accent-2: 352.5 100% 98.43137254901961%;
    --accent-3: 351 90.90909090909093% 95.68627450980391%;
    --accent-4: 351.42857142857144 100% 93.13725490196079%;
    --accent-5: 350.2040816326531 100% 90.3921568627451%;
    --accent-6: 350.5263157894737 80.2816901408451% 86.07843137254902%;
    --accent-7: 349.2537313432836 67.67676767676767% 80.58823529411765%;
    --accent-8: 347.71084337349396 61.48148148148148% 73.52941176470588%;
    --accent-9: 347.92452830188677 75.35545023696683% 58.62745098039216%;
    --accent-10: 347.32919254658384 69.6969696969697% 54.70588235294118%;
    --accent-11: 345.18072289156623 69.74789915966385% 46.666666666666664%;
    --accent-12: 344.4155844155844 62.601626016260155% 24.11764705882353%;
    --background: 0 0% 98.82352941176471%;
    --foreground: 0 0% 12.549019607843137%;
    --card: 0 0% 97.6470588235294%;
    --card-foreground: 0 0% 12.549019607843137%;
    --popover: 0 0% 98.82352941176471%;
    --popover-foreground: 0 0% 12.549019607843137%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 97.6470588235294%;
    --secondary-foreground: 0 0% 39.21568627450981%;
    --muted: 0 0% 97.6470588235294%;
    --muted-foreground: 0 0% 39.21568627450981%;
    --accent: 347.32919254658384 69.6969696969697% 54.70588235294118%;
    --accent-foreground: 0 0% 100%;
    --destructive: 358.4810126582278 69.2982456140351% 55.294117647058826%;
    --destructive-foreground: 350.64935064935065 62.601626016260155%
      24.11764705882353%;
    --border: 0 0% 85.09803921568627%;
    --input: 0 0% 85.09803921568627%;
    --ring: 0 0% 85.09803921568627%;
    --radius: 0.5rem;
  }
  .dark {
    --base-1: 0 0% 6.666666666666667%;
    --base-2: 0 0% 9.803921568627452%;
    --base-3: 0 0% 13.333333333333334%;
    --base-4: 0 0% 16.470588235294116%;
    --base-5: 0 0% 19.215686274509807%;
    --base-6: 0 0% 22.745098039215687%;
    --base-7: 0 0% 28.235294117647058%;
    --base-8: 0 0% 37.64705882352941%;
    --base-9: 0 0% 43.13725490196079%;
    --base-10: 0 0% 48.23529411764706%;
    --base-11: 0 0% 70.58823529411765%;
    --base-12: 0 0% 93.33333333333333%;
    --accent-1: 345 19.047619047619047% 8.235294117647058%;
    --accent-2: 346.6666666666667 17.64705882352941% 10%;
    --accent-3: 344.2105263157895 48.71794871794871% 15.294117647058824%;
    --accent-4: 341.6949152542373 60.824742268041234% 19.01960784313726%;
    --accent-5: 342.3529411764706 56.66666666666668% 23.52941176470588%;
    --accent-6: 343.7837837837838 49.999999999999986% 29.01960784313726%;
    --accent-7: 346.42857142857144 44.680851063829785% 36.86274509803922%;
    --accent-8: 348.1081081081081 44.93927125506073% 48.4313725490196%;
    --accent-9: 347.92452830188677 75.35545023696683% 58.62745098039216%;
    --accent-10: 350.13698630136986 79.34782608695653% 63.92156862745099%;
    --accent-11: 354.9532710280374 100% 79.01960784313727%;
    --accent-12: 339.54545454545456 95.6521739130435% 90.98039215686275%;
    --background: 0 0% 6.666666666666667%;
    --foreground: 0 0% 93.33333333333333%;
    --card: 0 0% 9.803921568627452%;
    --card-foreground: 0 0% 93.33333333333333%;
    --popover: 0 0% 6.666666666666667%;
    --popover-foreground: 0 0% 93.33333333333333%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 9.803921568627452%;
    --secondary-foreground: 0 0% 70.58823529411765%;
    --muted: 0 0% 9.803921568627452%;
    --muted-foreground: 0 0% 70.58823529411765%;
    --accent: 350.13698630136986 79.34782608695653% 63.92156862745099%;
    --accent-foreground: 0 0% 100%;
    --destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
    --destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
    --border: 0 0% 22.745098039215687%;
    --input: 0 0% 22.745098039215687%;
    --ring: 0 0% 22.745098039215687%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-family: "Geist Sans", sans-serif;
  }
}

html {
  -webkit-tap-highlight-color: transparent;
}

/* color variable generated by the coloradix plugin */
::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: rgb(var(--neutral-2) / 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--neutral-5));
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--neutral-8));
}

::-moz-selection {
  background: rgb(var(--primary-8));
  color: white;
}

::selection {
  background: rgb(var(--primary-8));
  color: white;
}
